<figure class="figure">
  <img
    src="../../../assets/images/paris.jpg"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
    style="max-width: 120px"
  />
  <figcaption class="figure-caption">Movie #1 Title.</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/paris.jpg"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
    style="max-width: 120px"
  />
  <figcaption class="figure-caption">Movie #2 Title.</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/paris.jpg"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
    style="max-width: 120px"
  />
  <figcaption class="figure-caption">Movie #3 Title.</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/paris.jpg"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
    style="max-width: 120px"
  />
  <figcaption class="figure-caption">Movie #4 Title.</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/paris.jpg"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
    style="max-width: 120px"
  />
  <figcaption class="figure-caption">Movie #5 Title.</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/paris.jpg"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
    style="max-width: 120px"
  />
  <figcaption class="figure-caption">Movie #6 Title.</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
